{
	"semi": true,
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"singleQuote": false,
	"tabWidth": 4,
	"singleAttributePerLine": false,
	"jsxSingleQuote": true,
	"useTabs": true
}
