{
    "arrowParens": "avoid",
    "useTabs": true,
    "tabWidth": 4,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": false,
    "singleQuote": true,
    "trailingComma": "es5"
}
