{
    "arrowParens": "avoid",
    "useTabs": true,
    "tabWidth": 4,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "cursorOffset": -1,
    "editorconfig": false,
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "css",
    "plugins": [

    ],
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "always",
    "quoteProps": "consistent",
    "singleAttributePerLine": true,
    "singleQuote": true
}
