.bg-primary-1 {
    background-color: #f2bcba;
}

.hover\:bg-primary-1:hover {
    background-color: #f2bcba;
}

.focus\:bg-primary-1:focus-visible {
    background-color: #f2bcba;
}

.text-primary-1 {
    color: #f2bcba;
}

.hover\:text-primary-1:hover {
    color: #f2bcba;
}

.focus\:text-primary-1:focus-visible {
    color: #f2bcba;
}

.bg-primary-2 {
    background-color: #e88a87;
}

.hover\:bg-primary-2:hover {
    background-color: #e88a87;
}

.focus\:bg-primary-2:focus-visible {
    background-color: #e88a87;
}

.text-primary-2 {
    color: #e88a87;
}

.hover\:text-primary-2:hover {
    color: #e88a87;
}

.focus\:text-primary-2:focus-visible {
    color: #e88a87;
}

.bg-primary-3 {
    background-color: #e0615c;
}

.hover\:bg-primary-3:hover {
    background-color: #e0615c;
}

.focus\:bg-primary-3:focus-visible {
    background-color: #e0615c;
}

.text-primary-3 {
    color: #e0615c;
}

.hover\:text-primary-3:hover {
    color: #e0615c;
}

.focus\:text-primary-3:focus-visible {
    color: #e0615c;
}

.bg-primary-4 {
    background-color: #ce2d27;
}

.hover\:bg-primary-4:hover {
    background-color: #ce2d27;
}

.focus\:bg-primary-4:focus-visible {
    background-color: #ce2d27;
}

.text-primary-4 {
    color: #ce2d27;
}

.hover\:text-primary-4:hover {
    color: #ce2d27;
}

.focus\:text-primary-4:focus-visible {
    color: #ce2d27;
}

.bg-primary-5 {
    background-color: #8d1f1b;
}

.hover\:bg-primary-5:hover {
    background-color: #8d1f1b;
}

.focus\:bg-primary-5:focus-visible {
    background-color: #8d1f1b;
}

.text-primary-5 {
    color: #8d1f1b;
}

.hover\:text-primary-5:hover {
    color: #8d1f1b;
}

.focus\:text-primary-5:focus-visible {
    color: #8d1f1b;
}

.bg-primary-6 {
    background-color: #5e1412;
}

.hover\:bg-primary-6:hover {
    background-color: #5e1412;
}

.focus\:bg-primary-6:focus-visible {
    background-color: #5e1412;
}

.text-primary-6 {
    color: #5e1412;
}

.hover\:text-primary-6:hover {
    color: #5e1412;
}

.focus\:text-primary-6:focus-visible {
    color: #5e1412;
}

.bg-primary-7 {
    background-color: #330b0a;
}

.hover\:bg-primary-7:hover {
    background-color: #330b0a;
}

.focus\:bg-primary-7:focus-visible {
    background-color: #330b0a;
}

.text-primary-7 {
    color: #330b0a;
}

.hover\:text-primary-7:hover {
    color: #330b0a;
}

.focus\:text-primary-7:focus-visible {
    color: #330b0a;
}

.bg-secondary-1 {
    background-color: #b9c3f3;
}

.hover\:bg-secondary-1:hover {
    background-color: #b9c3f3;
}

.focus\:bg-secondary-1:focus-visible {
    background-color: #b9c3f3;
}

.text-secondary-1 {
    color: #b9c3f3;
}

.hover\:text-secondary-1:hover {
    color: #b9c3f3;
}

.focus\:text-secondary-1:focus-visible {
    color: #b9c3f3;
}

.bg-secondary-2 {
    background-color: #8596ea;
}

.hover\:bg-secondary-2:hover {
    background-color: #8596ea;
}

.focus\:bg-secondary-2:focus-visible {
    background-color: #8596ea;
}

.text-secondary-2 {
    color: #8596ea;
}

.hover\:text-secondary-2:hover {
    color: #8596ea;
}

.focus\:text-secondary-2:focus-visible {
    color: #8596ea;
}

.bg-secondary-3 {
    background-color: #5970e3;
}

.hover\:bg-secondary-3:hover {
    background-color: #5970e3;
}

.focus\:bg-secondary-3:focus-visible {
    background-color: #5970e3;
}

.text-secondary-3 {
    color: #5970e3;
}

.hover\:text-secondary-3:hover {
    color: #5970e3;
}

.focus\:text-secondary-3:focus-visible {
    color: #5970e3;
}

.bg-secondary-4 {
    background-color: #233fcd;
}

.hover\:bg-secondary-4:hover {
    background-color: #233fcd;
}

.focus\:bg-secondary-4:focus-visible {
    background-color: #233fcd;
}

.text-secondary-4 {
    color: #233fcd;
}

.hover\:text-secondary-4:hover {
    color: #233fcd;
}

.focus\:text-secondary-4:focus-visible {
    color: #233fcd;
}

.bg-secondary-5 {
    background-color: #182c90;
}

.hover\:bg-secondary-5:hover {
    background-color: #182c90;
}

.focus\:bg-secondary-5:focus-visible {
    background-color: #182c90;
}

.text-secondary-5 {
    color: #182c90;
}

.hover\:text-secondary-5:hover {
    color: #182c90;
}

.focus\:text-secondary-5:focus-visible {
    color: #182c90;
}

.bg-secondary-6 {
    background-color: #101e60;
}

.hover\:bg-secondary-6:hover {
    background-color: #101e60;
}

.focus\:bg-secondary-6:focus-visible {
    background-color: #101e60;
}

.text-secondary-6 {
    color: #101e60;
}

.hover\:text-secondary-6:hover {
    color: #101e60;
}

.focus\:text-secondary-6:focus-visible {
    color: #101e60;
}

.bg-secondary-7 {
    background-color: #091034;
}

.hover\:bg-secondary-7:hover {
    background-color: #091034;
}

.focus\:bg-secondary-7:focus-visible {
    background-color: #091034;
}

.text-secondary-7 {
    color: #091034;
}

.hover\:text-secondary-7:hover {
    color: #091034;
}

.focus\:text-secondary-7:focus-visible {
    color: #091034;
}

.bg-accent-1 {
    background-color: #e7ebc2;
}

.hover\:bg-accent-1:hover {
    background-color: #e7ebc2;
}

.focus\:bg-accent-1:focus-visible {
    background-color: #e7ebc2;
}

.text-accent-1 {
    color: #e7ebc2;
}

.hover\:text-accent-1:hover {
    color: #e7ebc2;
}

.focus\:text-accent-1:focus-visible {
    color: #e7ebc2;
}

.bg-accent-2 {
    background-color: #d4db94;
}

.hover\:bg-accent-2:hover {
    background-color: #d4db94;
}

.focus\:bg-accent-2:focus-visible {
    background-color: #d4db94;
}

.text-accent-2 {
    color: #d4db94;
}

.hover\:text-accent-2:hover {
    color: #d4db94;
}

.focus\:text-accent-2:focus-visible {
    color: #d4db94;
}

.bg-accent-3 {
    background-color: #c5cf6e;
}

.hover\:bg-accent-3:hover {
    background-color: #c5cf6e;
}

.focus\:bg-accent-3:focus-visible {
    background-color: #c5cf6e;
}

.text-accent-3 {
    color: #c5cf6e;
}

.hover\:text-accent-3:hover {
    color: #c5cf6e;
}

.focus\:text-accent-3:focus-visible {
    color: #c5cf6e;
}

.bg-accent-4 {
    background-color: #abb83d;
}

.hover\:bg-accent-4:hover {
    background-color: #abb83d;
}

.focus\:bg-accent-4:focus-visible {
    background-color: #abb83d;
}

.text-accent-4 {
    color: #abb83d;
}

.hover\:text-accent-4:hover {
    color: #abb83d;
}

.focus\:text-accent-4:focus-visible {
    color: #abb83d;
}

.bg-accent-5 {
    background-color: #767e2a;
}

.hover\:bg-accent-5:hover {
    background-color: #767e2a;
}

.focus\:bg-accent-5:focus-visible {
    background-color: #767e2a;
}

.text-accent-5 {
    color: #767e2a;
}

.hover\:text-accent-5:hover {
    color: #767e2a;
}

.focus\:text-accent-5:focus-visible {
    color: #767e2a;
}

.bg-accent-6 {
    background-color: #4f541c;
}

.hover\:bg-accent-6:hover {
    background-color: #4f541c;
}

.focus\:bg-accent-6:focus-visible {
    background-color: #4f541c;
}

.text-accent-6 {
    color: #4f541c;
}

.hover\:text-accent-6:hover {
    color: #4f541c;
}

.focus\:text-accent-6:focus-visible {
    color: #4f541c;
}

.bg-accent-7 {
    background-color: #2b2e0f;
}

.hover\:bg-accent-7:hover {
    background-color: #2b2e0f;
}

.focus\:bg-accent-7:focus-visible {
    background-color: #2b2e0f;
}

.text-accent-7 {
    color: #2b2e0f;
}

.hover\:text-accent-7:hover {
    color: #2b2e0f;
}

.focus\:text-accent-7:focus-visible {
    color: #2b2e0f;
}

.bg-cyan-1 {
    background-color: #c2d5eb;
}

.hover\:bg-cyan-1:hover {
    background-color: #c2d5eb;
}

.focus\:bg-cyan-1:focus-visible {
    background-color: #c2d5eb;
}

.text-cyan-1 {
    color: #c2d5eb;
}

.hover\:text-cyan-1:hover {
    color: #c2d5eb;
}

.focus\:text-cyan-1:focus-visible {
    color: #c2d5eb;
}

.bg-cyan-2 {
    background-color: #94b5db;
}

.hover\:bg-cyan-2:hover {
    background-color: #94b5db;
}

.focus\:bg-cyan-2:focus-visible {
    background-color: #94b5db;
}

.text-cyan-2 {
    color: #94b5db;
}

.hover\:text-cyan-2:hover {
    color: #94b5db;
}

.focus\:text-cyan-2:focus-visible {
    color: #94b5db;
}

.bg-cyan-3 {
    background-color: #6e9bcf;
}

.hover\:bg-cyan-3:hover {
    background-color: #6e9bcf;
}

.focus\:bg-cyan-3:focus-visible {
    background-color: #6e9bcf;
}

.text-cyan-3 {
    color: #6e9bcf;
}

.hover\:text-cyan-3:hover {
    color: #6e9bcf;
}

.focus\:text-cyan-3:focus-visible {
    color: #6e9bcf;
}

.bg-cyan-4 {
    background-color: #3d76b8;
}

.hover\:bg-cyan-4:hover {
    background-color: #3d76b8;
}

.focus\:bg-cyan-4:focus-visible {
    background-color: #3d76b8;
}

.text-cyan-4 {
    color: #3d76b8;
}

.hover\:text-cyan-4:hover {
    color: #3d76b8;
}

.focus\:text-cyan-4:focus-visible {
    color: #3d76b8;
}

.bg-cyan-5 {
    background-color: #2a517e;
}

.hover\:bg-cyan-5:hover {
    background-color: #2a517e;
}

.focus\:bg-cyan-5:focus-visible {
    background-color: #2a517e;
}

.text-cyan-5 {
    color: #2a517e;
}

.hover\:text-cyan-5:hover {
    color: #2a517e;
}

.focus\:text-cyan-5:focus-visible {
    color: #2a517e;
}

.bg-cyan-6 {
    background-color: #1c3654;
}

.hover\:bg-cyan-6:hover {
    background-color: #1c3654;
}

.focus\:bg-cyan-6:focus-visible {
    background-color: #1c3654;
}

.text-cyan-6 {
    color: #1c3654;
}

.hover\:text-cyan-6:hover {
    color: #1c3654;
}

.focus\:text-cyan-6:focus-visible {
    color: #1c3654;
}

.bg-cyan-7 {
    background-color: #0f1e2e;
}

.hover\:bg-cyan-7:hover {
    background-color: #0f1e2e;
}

.focus\:bg-cyan-7:focus-visible {
    background-color: #0f1e2e;
}

.text-cyan-7 {
    color: #0f1e2e;
}

.hover\:text-cyan-7:hover {
    color: #0f1e2e;
}

.focus\:text-cyan-7:focus-visible {
    color: #0f1e2e;
}

.bg-violet-1 {
    background-color: #ccc2eb;
}

.hover\:bg-violet-1:hover {
    background-color: #ccc2eb;
}

.focus\:bg-violet-1:focus-visible {
    background-color: #ccc2eb;
}

.text-violet-1 {
    color: #ccc2eb;
}

.hover\:text-violet-1:hover {
    color: #ccc2eb;
}

.focus\:text-violet-1:focus-visible {
    color: #ccc2eb;
}

.bg-violet-2 {
    background-color: #a694db;
}

.hover\:bg-violet-2:hover {
    background-color: #a694db;
}

.focus\:bg-violet-2:focus-visible {
    background-color: #a694db;
}

.text-violet-2 {
    color: #a694db;
}

.hover\:text-violet-2:hover {
    color: #a694db;
}

.focus\:text-violet-2:focus-visible {
    color: #a694db;
}

.bg-violet-3 {
    background-color: #866ecf;
}

.hover\:bg-violet-3:hover {
    background-color: #866ecf;
}

.focus\:bg-violet-3:focus-visible {
    background-color: #866ecf;
}

.text-violet-3 {
    color: #866ecf;
}

.hover\:text-violet-3:hover {
    color: #866ecf;
}

.focus\:text-violet-3:focus-visible {
    color: #866ecf;
}

.bg-violet-4 {
    background-color: #5c3db8;
}

.hover\:bg-violet-4:hover {
    background-color: #5c3db8;
}

.focus\:bg-violet-4:focus-visible {
    background-color: #5c3db8;
}

.text-violet-4 {
    color: #5c3db8;
}

.hover\:text-violet-4:hover {
    color: #5c3db8;
}

.focus\:text-violet-4:focus-visible {
    color: #5c3db8;
}

.bg-violet-5 {
    background-color: #3f2a7e;
}

.hover\:bg-violet-5:hover {
    background-color: #3f2a7e;
}

.focus\:bg-violet-5:focus-visible {
    background-color: #3f2a7e;
}

.text-violet-5 {
    color: #3f2a7e;
}

.hover\:text-violet-5:hover {
    color: #3f2a7e;
}

.focus\:text-violet-5:focus-visible {
    color: #3f2a7e;
}

.bg-violet-6 {
    background-color: #2a1c54;
}

.hover\:bg-violet-6:hover {
    background-color: #2a1c54;
}

.focus\:bg-violet-6:focus-visible {
    background-color: #2a1c54;
}

.text-violet-6 {
    color: #2a1c54;
}

.hover\:text-violet-6:hover {
    color: #2a1c54;
}

.focus\:text-violet-6:focus-visible {
    color: #2a1c54;
}

.bg-violet-7 {
    background-color: #170f2e;
}

.hover\:bg-violet-7:hover {
    background-color: #170f2e;
}

.focus\:bg-violet-7:focus-visible {
    background-color: #170f2e;
}

.text-violet-7 {
    color: #170f2e;
}

.hover\:text-violet-7:hover {
    color: #170f2e;
}

.focus\:text-violet-7:focus-visible {
    color: #170f2e;
}

.bg-neutral-1 {
    background-color: #f2f2f2;
}

.hover\:bg-neutral-1:hover {
    background-color: #f2f2f2;
}

.focus\:bg-neutral-1:focus-visible {
    background-color: #f2f2f2;
}

.text-neutral-1 {
    color: #f2f2f2;
}

.hover\:text-neutral-1:hover {
    color: #f2f2f2;
}

.focus\:text-neutral-1:focus-visible {
    color: #f2f2f2;
}

.bg-neutral-2 {
    background-color: #b8b8b8;
}

.hover\:bg-neutral-2:hover {
    background-color: #b8b8b8;
}

.focus\:bg-neutral-2:focus-visible {
    background-color: #b8b8b8;
}

.text-neutral-2 {
    color: #b8b8b8;
}

.hover\:text-neutral-2:hover {
    color: #b8b8b8;
}

.focus\:text-neutral-2:focus-visible {
    color: #b8b8b8;
}

.bg-neutral-3 {
    background-color: #9e9e9e;
}

.hover\:bg-neutral-3:hover {
    background-color: #9e9e9e;
}

.focus\:bg-neutral-3:focus-visible {
    background-color: #9e9e9e;
}

.text-neutral-3 {
    color: #9e9e9e;
}

.hover\:text-neutral-3:hover {
    color: #9e9e9e;
}

.focus\:text-neutral-3:focus-visible {
    color: #9e9e9e;
}

.bg-neutral-4 {
    background-color: #7a7a7a;
}

.hover\:bg-neutral-4:hover {
    background-color: #7a7a7a;
}

.focus\:bg-neutral-4:focus-visible {
    background-color: #7a7a7a;
}

.text-neutral-4 {
    color: #7a7a7a;
}

.hover\:text-neutral-4:hover {
    color: #7a7a7a;
}

.focus\:text-neutral-4:focus-visible {
    color: #7a7a7a;
}

.bg-neutral-5 {
    background-color: #545454;
}

.hover\:bg-neutral-5:hover {
    background-color: #545454;
}

.focus\:bg-neutral-5:focus-visible {
    background-color: #545454;
}

.text-neutral-5 {
    color: #545454;
}

.hover\:text-neutral-5:hover {
    color: #545454;
}

.focus\:text-neutral-5:focus-visible {
    color: #545454;
}

.bg-neutral-6 {
    background-color: #383838;
}

.hover\:bg-neutral-6:hover {
    background-color: #383838;
}

.focus\:bg-neutral-6:focus-visible {
    background-color: #383838;
}

.text-neutral-6 {
    color: #383838;
}

.hover\:text-neutral-6:hover {
    color: #383838;
}

.focus\:text-neutral-6:focus-visible {
    color: #383838;
}

.bg-neutral-7 {
    background-color: #222325;
}

.hover\:bg-neutral-7:hover {
    background-color: #222325;
}

.focus\:bg-neutral-7:focus-visible {
    background-color: #222325;
}

.text-neutral-7 {
    color: #222325;
}

.hover\:text-neutral-7:hover {
    color: #222325;
}

.focus\:text-neutral-7:focus-visible {
    color: #222325;
}
