@import './base.css';
@import './typography.css';
@import './colors.css';

/* UTILITIES */

.d-grid {
	display: grid;
}

.place-items-center {
	place-items: center center;
}

.place-content-center {
	place-content: center center;
}

.grid-row-screen {
	grid-template-rows: auto 1fr auto;
}
