/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Inter:wght@300;500;700&display=swap");

.font-display {
	font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

.font-code {
	font-family: "Inconsolata", "Consolas", "Menlo", monospace;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-700 {
	font-weight: 700;
}

.title-2xl {
	font-size: 4.8rem;
}

.title-xl {
	font-size: 3.2rem;
}
